/* Styles personnalisés */
/* .navbar {
    background-color: #007bff; 
}
.navbar-brand, .nav-link {
    color: #fff !important; 
}
.btn-custom {
    color: #007bff;
    background-color: #fff;
    border: 1px solid #007bff;
}
.btn-custom:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #004085;
} */

.navbar {
    width: 200px; 
}
.navbar-nav .nav-link {
    /* padding: 10px; */
    border-radius: 5px;
}
.navbar-nav .nav-link:hover {
    background-color: #495057;
}


.card-body {
    height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 5px;
}

canvas {
    height: 500px;
    width: 100%;
}
