/* Styles personnalisés */
.navbar {
    background-color: #007bff; 
}
.navbar-brand, .nav-link {
    color: #fff !important; 
}
.btn-custom {
    color: #007bff;
    background-color: #fff;
    border: 1px solid #007bff;
}
.btn-custom:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #004085;
}


.card-body {
    height: 500px; /* Fixez une hauteur égale pour toutes les cartes */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    max-height: 100%; /* Limite la hauteur du canvas */
    max-width: 100%; /* S'adapte à la largeur */
}

