{% load static %}
<div class="container mt-4">
    <h1 class="text-center mb-4">CRM PFA</h1>

    <div class="row">
        <!-- Prospects par jour -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Prospects par Jour</h5>
                    <canvas id="prospectsByDay" width="400" height="200"></canvas>
                </div>
            </div>
        </div>

        <!-- Répartition des Prospects par Source -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Répartition des Prospects par Source</h5>
                    <canvas id="prospectsBySourceChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Comparaison des Agents -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Comparaison des Agents</h5>
                    <canvas id="agentsComparisonChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>

        <!-- Clients Gagnés par Mois -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Clients Gagnés par Mois</h5>
                    <canvas id="clientsByMonthChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Prospects Perdus par Source -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Prospects Perdus par Source</h5>
                    <canvas id="lostProspectsBySourceChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>

        <!-- Agents les Plus Performants -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Agents les Plus Performants</h5>
                    <canvas id="topPerformingAgentsChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Données pour les graphiques
    const prospectsBySourceLables = JSON.parse('{{ prospects_by_source_labels|safe }}');
    const prospectsBySourceData = JSON.parse('{{ prospects_by_source_data|safe }}');
    const agentsComparisonLabels =JSON.parse(' {{ agents_comparison_labels|safe }}');
    const agentsComparisonData =JSON.parse(' {{ agents_comparison_data|safe }}');
    const agentsComparisonLeadLostData =JSON.parse(' {{ agents_comparison_pr_lost_dt|safe }}');
    const clientsByMonthlabel = JSON.parse('{{ get_clients_by_labels|safe }}');
    const clientsByMonthData = JSON.parse('{{ get_clients_by_data|safe }}');
    const lostProspectsBySourceLabel = JSON.parse('{{ lost_prospects_by_source_labels|safe }}');
    const lostProspectsBySourceData = JSON.parse('{{ lost_prospects_by_source_Data|safe }}');
    const topPerformingAgentslabel =JSON.parse(' {{ performing_agents_labels|safe }}');
    const topPerformingAgentsData =JSON.parse(' {{ performing_agents_data|safe }}');
</script>

<script>
    const chartLabels = JSON.parse('{{ dashboard_labels|safe }}');
    const chartData = JSON.parse('{{ dashboard_data|safe }}');
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'scripts/prospects_by_day_chart.js' %}" async></script>
