{% load static %}
<div class="container mt-4">
    <h1 class="text-center mb-4">CRM PFA</h1>

    <div class="row">
        <!-- Prospects par jour -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Prospects par Jour</h5>
                    <canvas id="prospectsByDay" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
        <!-- Clients Gagnés par Mois -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Prospet par Mois</h5>
                    <canvas id="clientsByMonthChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <!-- Comparaison des Agents -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Client(s) Gagnier Par Agent</h5>
                    <canvas id="agentsComparisonChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
        <!-- Répartition des Prospects par Source -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Répartition des Prospects par Source</h5>
                    <canvas id="prospectsBySourceChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Prospects Perdus par Source -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Prospects Perdus par Agent</h5>
                    <canvas id="lostProspectsBySourceChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>

        <!-- Agents les Plus Performants -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Prospet Perdus par source</h5>
                    <canvas id="topPerformingAgentsChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Total Prospet (prospet + perdus) par Jours</h5>
                <canvas id="totalLeadsChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>

</div>

<script>
    // Données pour les graphiques
    const prospectsBySourceLables = JSON.parse('{{ prospects_by_source_labels|safe }}');
    const prospectsBySourceData = JSON.parse('{{ prospects_by_source_data|safe }}');
    const agentsComparisonLabels =JSON.parse(' {{ agents_comparison_labels|safe }}');
    const agentsComparisonData =JSON.parse(' {{ agents_comparison_data|safe }}');
    const agentsComparisonLeadLostData =JSON.parse(' {{ agents_comparison_pr_lost_dt|safe }}');
    const leadsByMonthlabel = JSON.parse('{{ get_leads_by_month_labels|safe }}');
    const leadsByMonthData = JSON.parse('{{ get_leads_by_month_data|safe }}');
    const lostProspectsByAgentLabel = JSON.parse('{{ lost_prospects_by_agent_labels|safe }}');
    const lostProspectsByAgentData = JSON.parse('{{ lost_prospects_by_agent_data|safe }}');
    const lostLeadBySourceLabel =JSON.parse(' {{ lost_lead_by_source_labels|safe }}');
    const lostLeadBySourceData =JSON.parse(' {{ lost_lead_by_source_data|safe }}');

    const totalLeadsLabels = JSON.parse('{{ total_leads_labels|safe }}');
    const totalLeadsData = JSON.parse('{{ total_leads_data|safe }}');
</script>

<script>
    const chartLabels = JSON.parse('{{ dashboard_labels|safe }}');
    const chartData = JSON.parse('{{ dashboard_data|safe }}');
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'scripts/prospects_by_day_chart.js' %}" async></script>
