{% extends "base.html" %}
{% load static %}


{% block title %}CRM-Home{% endblock title %} 

{% block content %}
    <div class="container">
        <h1>Prospect</h1>
        <div>
            <p>
                <a href="{% url 'create_lead' %}" class="btn btn-primary">Crée un prospet</a>
                <a href="{% url 'create_agent' %}" class="btn btn-primary">Crée un agent</a>
                <a href="{% url 'index' %}" class="btn btn-primary">Liste des prospet</a>
            </p>
        </div>

        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">username</th>
                <th scope="col">first_name</th>
                <th scope="col">last_name</th>
                <th scope="col">email</th>
                <th scope="col">is_staff</th>
                <th scope="col">is_active</th>
                <th scope="col">date_joined</th>
                
              </tr>
            </thead>
            <tbody>
                {% for agent in agents %}
                    <tr>
                        <td>{{ agent.user.id }}</td>
                        <td>{{ agent.user.email }}</td>
                        <td>{{ agent.user.first_name }}</td>
                        <td>{{ agent.user.last_name }}</td>
                        <td>{{ agent.user.email }}</td>
                        <td>{{ agent.user.is_staff }}</td>
                        <td>{{ agent.user.is_active }}</td>
                        <td>{{ agent.user.date_joined }}</td>
                        
                        {# <td><a href="{% url 'details_page' lead.id %}" class="btn btn-primary">Détails</a></td> #}
                    </tr>
                {% endfor %}
            </tbody>
          </table>

    </div>

{% endblock content %}


