<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column" id="navbarNav">
            {% if request.user.is_authenticated %}
                <ul class="navbar-nav flex-column mb-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_lead' %}">Créer Prospet</a>
                    </li>
                    {% if request.user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_agent' %}">Créer Agent</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'list_agents' %}">Liste Agents</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'list_client' %}">Liste des Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'list_leads' %}">Liste des Prospects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'list_loss_leads' %}">Liste des Prospects Perdus</a>
                    </li>
                </ul>
            {% endif %}
            <div class="d-flex flex-column align-items-start mt-3">
                {% if request.user.is_authenticated %}
                    <span class="nav-link text-white">Bonjour, {{ request.user.username }}</span>
                    <a href="{% url 'logout' %}" class="btn btn-light btn-sm mt-2">Se déconnecter</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
